form {
    border-bottom: 1px dashed gray;
    margin: 0 15rem;
    margin-bottom: 2rem;
    text-align: center;
    padding: 10px;
}

.margin {
    margin-right: 30px;
}

.datepicker {
    color: white;
}

.form-input {
    border: none;
    border-bottom: 1px dashed lightgray;
}

.gray {
    color: gray;
}