form {
    border: 1px solid black;
    margin: 5rem;
    text-align: center;
    padding: 10px;
}

.margin {
    margin-right: 30px;
}

.datepicker {
    color: white;
    background-color: teal;
}
.datepicker::placeholder {
    color: white;
    background-color: teal;
}