table {
    border: 2px dotted lightgray;
    border-radius: 5%;
    margin: 0 auto;
    padding: 1rem;
}

th {
    color: gray;
}

thead {
    color: gray;
}

.table-data {
    margin: 50px;
    border: 1px solid black;
}